<body>
    <header>
        <div class="headerContainer">
            <a href="/">
            <img class="logo" id="fridgeProjectLogo" src="/images/fridgeProjectLogoLayers.png" alt="The Fridge Project Logo"/></a>
            <nav class="navBar">
                <p class="headerLinks"><a href="/">home</a></p>
                <p class="headerLinks"><a href="/adminConsole">Administrator Console</a></p>
                <p class="headerLinks"><a href="/adminConsole/contactInbox">Inbox</a></p>
                <p class="headerLinks"><a href="/adminConsole/resourceData">Resources</a></p>
                <p class="headerLinks"><a href="/">logout</a></p>
            </nav>
        </div>
    </header>