<body>
    <header>
        <div class="headerContainer">
            <a href="/">
            <img class="logo" id="fridgeProjectLogo" src="/images/fridgeProjectLogoLayers.png" alt="The Fridge Project Logo"/></a>
            <nav class="navBar">
                <p class="headerLinksHide"><a href="/">home</a></p>
                <p class="headerLinksHide"><a href="/adminConsole">Administrator Console</a></p>
                <p class="headerLinksHide"><a href="/adminConsole/contactInbox">Inbox</a></p>
                <p class="headerLinksHide"><a href="/adminConsole/resourceData">Resources</a></p>
                <p class="headerLinks"><a href="/">logout</a></p>
        <div class="hamburger"><i class="fa fa-bars hamburger"></i>
            <div class="hamburgerMenu hamburgerBox">
            <ul>
            <li><a href="/adminConsole">console</a></li>
                <li><a href="/adminConsole/contactInbox">inbox</a></li>                        
                <li><a href="/adminConsole/resourceData">resources</a></li>
                <li><a href="/adminConsole/register">register</a></li>

            </ul>
            </div>
            </div>
    </nav>
    </div>
    </header>