<footer>
    <div class="footerContainer">
        <p>
        <div class="footerLinkBlock">
            <h3>Contact Us</h3>
            <p>The Fridge Project
            <br>
            TheFridgeProject2022@gmail.com
            <br>
            Somerville, MA</p>
        </div>    
        <div class="footerLinkBlock">
            <h3>LINKS</h3>
            <a href="/">Home</a>
            <br>
            <a href="/about">About</a>
            <br>
            <a href="/login">Login</a>
        </div>
        <!-- <div class="footerLinkBlock">
            <h3 class="social-media-links">FOLLOW US</h3>
            <a href="https://www.facebook.com/ohmygodsrslywtf" target="blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/ohmygdsrslywtf" target="blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div> -->
        <div class="footerLinkBlock">
        <img class="footerLogo" src="/images/FPSquareLogotealwithorange copy.jpg" alt="Fridge Project Logo" width="150" />
        </div>
    </p>
    </div>
</footer>
</body>
</html>