<footer>
    <div class="footerContainer">
        <div class="contactUs">
            <h3>CONTACT US</h3>
            The Fridge Project
            <br>
            thefridgeproject@gmail.com
        </div>    
        <div class="footerLinkBlock">
            <p class="footerLink"><a href="index.html">Home</a></p>
            <p class="footerLink"><a href="about.html">About Us</a></p>
            <p class="footerLink"><a href="contact.html">Contact Us</a></p>
        </div>
    </div>
</footer>
</body>
</html>