<body>
    <header>
        <div class="headerContainer">
            <a href="/">
            <img class="logo" id="fridgeProjectLogo" src="/images/fridgeProjectLogoLayers.png" alt="The Fridge Project Logo"/></a>
            <nav class="navBar">
                <p class="headerLinks"><a href="/">home</a></p>
                <p class="headerLinks"><a href="/about">about us</a></p>
                <p class="headerLinks">Resources
                    <button class="dropBtn"><i class="fa fa-caret-down"></i></button>
                    </p>
                    <div class="dropdownLinksHidden">
                    <a href="/resource/Fridges">fridges & pantries</a>
                    <a href="/resource/meals">hot meals</a>
                    <a href="/resource/shelters">warming centers & shelters</a>
                    <a href="/resource/submit">submit a resource</a>
                    </div>
            </nav>
        </div>
    </header>