<body>
    <header>
        <div class="headerContainer">
            <a href="index.html">
            <img class="logo" id="fridgeProjectLogo" src="./images/fridgeProjectLogoLayers.png" alt="The Fridge Project Logo"/></a>
            <nav class="navBar">
                <p class="headerLinks"><a href="index.html">home</a></p>
                <p class="headerLinks"><a href="about.html">about us</a></p>
                <button class="dropBtn">Resources
                    <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdownLinksHidden">
                    <a href="food.html">fridges & pantries</a>
                    <a href="meals.html">hot meals</a>
                    <a href="centers.html">warming centers & shelters</a>
                    </div>
                <p class="headerLinks"><a href="calendar.html">calendar</a></p>
            </nav>
        </div>
    </header>