<body>
    <header>
        <div class="headerContainer">
            <a href="/">
            <img class="logo" id="fridgeProjectLogo" src="/images/fridgeProjectLogoLayers.png" alt="The Fridge Project Logo"/></a>
            <nav class="navBar">
                <p class="headerLinks"><a href="/">home</a></p>
                <p class="headerLinksHide"><a href="/about">about us</a></p>
                <p class="headerLinksHide"><a href="/submit">submit resource</a></p>
                <p class="headerLinksHide"><a href="/contact">contact us</a></p>
                <!-- <p class="headerLinksHide">Resources -->
                    <!-- <button class="dropBtn"><i class="fa fa-caret-down"></i></button> -->
                <!-- </p> -->
                <div class="hamburger"><i class="fa fa-bars hamburger"></i>
                    <div class="hamburgerMenu hamburgerBox">
                    <ul>
                    <li><a href="/resource/Fridges">fridges & pantries</a></li>
                        <li><a href="/resource/meals">hot meals</a></li>                        
                        <li><a href="/resource/shelters">warming centers & shelters</a></li>
                        <li><a href="/resource/submit">submit a resource</a></li>
                        <li><a href="/contact">contact us</a></li>
                        <li><a href="/about">about us</a></li>

                    </ul>
                    </div>
                    </div>
            </nav>
        </div>
    </header>