<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styles/styles.css">
    <!-- <script src="./scripts/scripts.js" defer></script> -->
    <title>The Fridge Project - Home</title>
</head>
<body>
    <header>
        <div class="headerContainer">
            <a href="index.html">
            <img class="logo" id="fridgeProjectLogo" src="./images/fridgeProjectLogoLayers.png" alt="The Fridge Project Logo"/></a>
            <nav class="navBar">
                <p class="headerLinks"><a href="index.html">home</a></p>
                <p class="headerLinks"><a href="about.html">about us</a></p>
                <button class="dropBtn">Resources
                    <i class="fa fa-caret-down"></i>
                </button>
                    <div class="dropdownLinksHidden">
                    <a href="food.html">fridges & pantries</a>
                    <a href="meals.html">hot meals</a>
                    <a href="centers.html">warming centers & shelters</a>
                    </div>
                <p class="headerLinks"><a href="calendar.html">calendar</a></p>
            </nav>
        </div>
    </header>

    <div class="indexContainer">
        <h1>The Fridge Project</h1>
        <div class="indexContent">
            <div class="indexText">
                <p class="homePageText"> At The Fridge Project we aim to make it easier for people to find the community resources available to them.  Here we want to help build a community around mutual aid.  A place where people can find and add places for people in need to find free food, meals, and other kinds of help.  </p>
                <h2>Fridges & Pantries</h2>
                <p>Here we list local fridges and pantries as well as allow people to update when they were last filled/if they need food</p>
                <h2>Food Banks, Soup Kitchens, and Prepared Meals</h2>
                <p>Here we list local places that provide home made meals for take away or dining on site as well as local food banks</p>
                <h2>Warming Centers and Shelters</h2>
                <p>Here we provide locations, contact info, and other details for local warming centers and shelters</p>
                <h2>The Calendar</h2>
                <p>This calendar will be updated monthly and keep track of local mutual aid events, food pantry and soup kitchen dates and times, and other important mutual aid information</p>
            </div>
            <!-- <div class="indexPhoto"> -->
            <img class="indexPhoto" id="fridge1" src="./images/Watertown-Fridge.png" alt="Picture of Watertown Community Fridge" width=500px height=auto/>
            <!-- </div> -->
        </div>
    </div>

    <footer>
        <div class="footerContainer">
            <div class="contactUs">
                <h3>CONTACT US</h3>
                The Fridge Project
                <br>
                thefridgeproject@gmail.com
            </div>    
            <div class="footerLinkBlock">
                <p class="footerLink"><a href="index.html">Home</a></p>
                <p class="footerLink"><a href="about.html">About Us</a></p>
                <p class="footerLink"><a href="contact.html">Contact Us</a></p>
            </div>
        </div>
    </footer>
    
</body>
</html>