<%- include('../partials/header') -%> 
<div class="container">
    <h1>The Fridge Project</h1>
    <div class="content">
        <div class="mainTextContainer">
            <div class="mainTextSection">
                <p> 
                The idea for the fridge project spawned in early 2022.  Out of necessity I, Rain Hageman (founder of The Fridge Project), started to become more familiar with the mutual aid resources availible in my community.</p>
                <p>
                What I found was a surprising disconnect between different sources of food and help, and a lack of a main landing space for people in need to find food.  Having just joined Code Squad I needed a goal for my personal project, and The Fridge Project was born. </p>
                <p> 
                Here we hope to create a community run home to help people easily find the help that they need.  By making it so anyone can submit resources to our mutual aid database, and community leaders are able to volunteer to help administer this page, we hope that this can really grow. We strive to continue to expand to include resources for those in need all over the country, and eventually all over the world!  </p>
            </div>   
        </div>
    </div>
</div>    
<%- include('../partials/nav') -%>
<%- include('../partials/footer') -%>