<%- include('../partials/header') %> 

<%- include('../partials/adminNav') %>
<main>
    <div class="container">
        <div class="contentContainer">
            <div class="adminContent">
            <a class="pageLink" href="/adminConsole/contactInbox"><h2>Contact Inbox<h2></a>
            </div>
            <div class="adminContent">
            <a class="pageLink" href="/adminConsole/resourceData"><h2>Resource Data<h2></a> 
            </div>         
    </div>
</main>
<%- include('../partials/footer') %>