<%- include('../partials/header') -%> 
    
<%- include('../partials/nav') -%>
<main>
    <div class="formContainer">
        <!-- is this right? should publish to page-->
        <form action="/adminConsole/">
          <h1>Create Resource</h1>
          <div class="item">
            <label for="name">Name of Resource</label><span class="required">*</span>
            <input type="text" name="name" id="name" minlength="5" required/>
          </div>
          <div class="item">
            <label for="type">Resource Type</label><span class="required">*</span>
            <select required>
                <option value="">What kind of resource is this?</option>
                <option value="Community Fridge & Pantry">Community Fridge & Pantry</option>
                <option value="Micro Pantry (no fridge)">Micro Pantry (no fridge)</option>
                <option value="Food Bank Pick-up">Food Bank Pick-up</option>
                <option value="Prepared Meal Pick-up">Prepared Meal Pick-up</option>
                <option value="Sit-down warm meal">Sit-down warm meal</option>
                <option value="Warming Center">Warming Center</option>
                <option value="Shelter">Shelter</option>
            </select>
          </div>
          <h5>1. Resource Details:</h5>
          <div class="item">
            <label for="org">Name of Lead Orginazation</label>
            <input type="text" name="org"/>
          </div>
          <div class="item">
            <label for="date">Date Resource Opened</label>
            <input type="date" name="bdate"/>
            <i class="fas fa-calendar-alt"></i>
          </div>
          <div class="item">
            <label for="address">Resource Address</label><span class="required">*</span></p>
            <input type="text" name="st_add" placeholder="Street address" required/>
            <div class="textInputSmall">
              <input type="text" name="city" placeholder="City" required/>
              <input type="text" name="county" placeholder="County/Region"/>
              <input type="text" name="zip" placeholder="Postal / Zip code" required/>
              <select name="country" required>
                <option value="">Country</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
              </select>
            </div>
          </div>
          <div class="formTextBox>
            <input type="text" name="loc_desc" placeholder="Description of location of resource.." required/>
          </div>
          <div class="item">
            <label for="coords">google earth coordinates</label>
            <input type="coords" name="coords" placeholder="Cooridinates of location" required/>
          </div>
          <div class="item">
            <label for="googleMaps">google maps link</label>
            <input type="url" name="googleMaps" placeholder="google maps link url" required/>
          </div>
          <div class="item">
          <label for="website">Website</label><span class="required">*</span></p>
            <input type="url" name="web" placeholder="Url for resource" required/>
          </div>
          <div class="item">
            <label for="facebook">Facebook</label>
            <input type="text" name="facebook"/>
          </div>
          <div class="item">
            <label for="insta"></label>
            <input type="text" name="insta"/>
          </div>
          <div class="item">
            <label for="email">Email</label>
            <input type="email" name="email"/>
          </div>
          <div class="formTextBox">
            <label for="dtls">resource details</label>
            <input type="text" name="dtls"/>
          </div>
          <div class="item">
            <label for="img">image</label>
            <input type="text" name="img"/>
          </div>
          <div class="question">
            <label for="openHours">Is this resource open 24/7?</label><span class="required">*</span></p>
            <div class="question-answer">
              <input type="radio" value="true" id="open24" name="openHours" required/>
              <label for="open24" class="radio"><span>Yes</span></label>
              <input type="radio" value="false" id="notOpen24" name="openHours" required/>
              <label for="notOpen24" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="item">
            <label for='days'>If No, please list the Hours of Operation below:</label>
            <div class="textInputSmall">
              <input type="text" name="days" placeholder="Days open">
              <input type="string" name="hours" placeholder="Hours open">
            </div>
          </div>
          <div class="question">
            <label for="frz">Does this resource have a freezer?</label><span class="required">*</span></p>
            <div class="question-answer">
              <input type="radio" value="true" id="yesFrz" name="frz" required/>
              <label for="yesFrz" class="radio"><span>Yes</span></label>
              <input type="radio" value="false" id="noFrz" name="frz" required/>
              <label for="noFrz" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="question">
            <label for="frz">Does this resource have a pantry?</label><span class="required">*</span></p>
            <div class="question-answer">
              <input type="radio" value="true" id="yesPantry" name="pantry" required/>
              <label for="yesPantry" class="radio"><span>Yes</span></label>
              <input type="radio" value="false" id="noPantry" name="pantry" required/>
              <label for="noPantry" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="question">
            <label for='days'>Does this resource accept donations?</label><span class="required">*</span>
            <div class="question-answer">
              <input type="radio" value="true" id="yesDonations" name="donations" required/>
              <label for="yesDonations" class="radio"><span>Yes</span></label>
              <input type="radio" value="false" id="noDonations" name="donations" required/>
              <label for="noDonations" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="question">
            <p>What kind of donations does this resource accept?<span class="required">*</span></p>
            <div class="question-answer checkbox-item" name="accpts">
              <div>
                <input type="checkbox" value="Fresh produce" id="check_1" name="accpts" required/>
                <label for="check_1" class="check"><span>Fresh produce</span></label>
              </div>
              <div>
                <input type="checkbox" value="Fresh dairy/eggs" id="check_2" name="accpts" required/>
                <label for="check_2" class="check"><span>Fresh dairy/eggs</span></label>
              </div>
              <div>
                <input type="checkbox" value="Sealed Canned/jarred food" id="check_3" name="accpts" required/>
                <label for="check_3" class="check"><span>Sealed Canned/jarred food</span></label>
              </div>
              <div>
                <input type="checkbox" value="Sealed packaged/labeled pre-made food" id="check_4" name="accpts" required/>
                <label for="check_4" class="check"><span>Sealed packaged/labeled pre-made food</span></label>
              </div>
              <div>
                <input type="checkbox" value="Sealed frozen food" id="check_5" name="accpts" required/>
                <label for="check_5" class="check"><span>Sealed frozen food</span></label>
              </div>
              <div>
                <input type="checkbox" value="Sealed packaged/labeled baked goods" id="check_6" name="accpts" required/>
                <label for="check_6" class="check"><span>Sealed packaged/labeled baked goods</span></label>
              </div>
              <div>
                <input type="checkbox" value="New hygiene products" id="check_7" name="accpts" required/>
                <label for="check_7" class="check"><span>New hygiene products</span></label>
              </div>
              <div>
                <input type="checkbox" value="Sealed disposable plates/cups/utensils" id="check_8" name="accpts" required/>
                <label for="check_8" class="check"><span>Sealed disposable plates/cups/utensils</span></label>
              </div>
              <div>
                <input type="checkbox" value="Clothing" id="check_9" name="accpts" required/>
                <label for="check_9" class="check"><span>Clothing</span></label>
              </div>
            </div>
          </div>
            <div class="question">
                <p>What kind of donations does this resource NOT accept?<span class="required">*</span></p>
                <div class="question-answer checkbox-item">
                  <div>
                    <input type="checkbox" value="Raw meat" id="check_10" name="no_accpt" required/>
                    <label for="check_10" class="check"><span>Raw meat</span></label>
                  </div>
                  <div>
                    <input type="checkbox" value="Homemade food" id="check_11" name="no_accpt" required/>
                    <label for="check_11" class="check"><span>Homemade food</span></label>
                  </div>
                  <div>
                    <input type="checkbox" value="Dairy" id="check_12" name="no_accpt" required/>
                    <label for="check_12" class="check"><span>Dairy</span></label>
                  </div>
                  <div>
                    <input type="checkbox" value="Hygiene products" id="check_13" name="no_accpt" required/>
                    <label for="check_13" class="check"><span>Hygiene products</span></label>
                  </div>
                  <div>
                    <input type="checkbox" value="Clothing" id="check_14" name="no_accpt" required/>
                    <label for="check_14" class="check"><span>Clothing</span></label>
                  </div>
                  <div>
                    <input type="submit" value="Submit">
                  </div>
                </div>
            </div> 
        </form>
</main>
    <%- include('../partials/footer') -%>
