<div class="container">
    <h1>administrator login</h1>
    <div class="formContainer">
    <form action="/login" method="put">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="Password" id="Password" min="10" required> 
        <br>
        <div class="button-new">
        <input class="button" type="submit" value="Submit">  
        </div>  
        <p>Don't Have An Account? <a href="/volForm">Apply to become an Admin here.</a></p>  
    </form>
    </div>
</div>