<%- include('../partials/header') -%> 
<%- include('../partials/nav') -%>
<main>
    <div class="container">
        <div class="content">
            <h1>Admin Console</h1>
        <div class="tableContainer">    
            <table class="tableContent">
                <thead>
                    <h2>Resources</h2>
                <tr>
                    <th>Resource Name</th>
                    <th>Type</th>
                    <th>Approved</th>
                    <th>Review</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>

        <div class="tableContainer">
            <table class="tableContent">
                <thead>
                    <h2>Contact Inbox</h2>
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Volunteer</th>
                    <th>Contacted</th>
                    <th>Admin</th>
                    <th>Username</th>
                    <th>Read</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    
                </tbody>
           </table>
        </div>
       </div>
    </div>
</main>
<%- include('../partials/footer') -%>