<%- include('../partials/header') -%> 
    
<%- include('../partials/nav') -%>
<main>
     <div class="container">
        <h1>The Fridge Project</h1>
        <div class="contentContainer">
            <div class="mainTextContainer">
                <div class="mainTextSection">
                    <p>Thank you for contacting us!  We will get back to you about soon!  </p>
                </div>
                <div class="indexLink">
                    <a href="/index" class="pageLink">Would you like to go back home?</a>
                </div>
                <h2>Or</h2>
                <div class="indexLink">
                    <a href="/submit" class="pageLink">Submit a resource?</a>
                </div>
                <div class="textSection">
                </div>
               
        </div>
    </div>
     </div>
</main>
    <%- include('../partials/footer') -%>