<%- include('../partials/header') -%> 
    
<%- include('../partials/nav') -%>

        <div class="container">
            <h1>REGISTER</h1>
            <div class="formContainer">
            <form action="/adminConsole/register" method="POST" enctype="application/x-www-form-urlencoded">
                <div class="item">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
                <br>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" min="6" required> 
                <br>
                <input class="button" type="submit" value="Submit">
                </div>
            </form>
            </div>
        </div>

<%- include('../partials/footer') -%>