<%- include('../partials/header') %> 

<%- include('../partials/adminNav') %>
<main>
    <div class="container">
        <div class="contentContainer">
            <h1>Admin Console</h1>
        <div class="tableContainer">    
            <table class="tablecontentContainer">
                <thead>
                    <h2>Resources</h2>
                <tr>
                    <th>Resource Name</th>
                    <th>Type</th>
                    <th>Approved</th>
                    <th>Review</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    <%- include('../partials/resource', {resources:resources}) %> 
                </tbody>
            </table>
        </div>
    </div>
    </div>
</main>
<%- include('../partials/footer') %>