
<%- include('../partials/header') -%> 
    
<%- include('../partials/nav') -%>
<main>
    <div class="formContainer">
        <form action="/resource/submit" method="POST">
          <h1>Resource Submission Form</h1>
          <h2>Are we missing an important resource? Please tell us about it!</h2>
          <div class="item">
            <label for="name">Name of Resource</label><span class="required">*</span>
            <input type="text" name="name" id="name" minlength="5" required/>
          </div>
          <div class="item">
            <label for="type">Resource Type</label><span class="required">*</span>
            <select name="type" id="type" required>
                <option value="" disabled selected hidden>What kind of resource is this?</option>
                <option value="Community Fridge & Pantry">Fridge & Pantry</option>
                <option value="Micro Pantry (no fridge)">Micro Pantry (no fridge)</option>
                <option value="Food Bank Pick-up">Food Bank Pick-up</option>
                <option value="Prepared Meal Pick-up">Prepared Meal Pick-up</option>
                <option value="Sit-down warm meal">Sit-down warm meal</option>
                <option value="Warming Center">Warming Center</option>
                <option value="Shelter">Shelter</option>
            </select>
          </div>
          <h5>1. Resource Details:</h5>
          <div class="item">
            <label for="org">Name of Lead Orginazation</label>
            <input type="text" name="org"/>
          </div>
          <div class="item">
            <label for="date">Date Resource Opened</label>
            <input type="text" name="start_date"/>
          </div>
          <div class="item">
            <label for="st_add">Resource Address</label><span class="required">*</span></p>
            <input type="text" name="st_add" placeholder="Street address" required/>
            <div class="textInputSmall">
              <input type="text" name="city" placeholder="City" required/>
              <input type="text" name="state" placeholder="State"/>
              <input type="text" name="zip" placeholder="Postal / Zip code" required/>
              <select name="country" id="country" required>
                <option value="" disabled selected hidden>Country</option>
                <option value="USA">USA</option>
                <option value="Canada">Canada</option>
              </select>
            </div>
            <input type="text" name="loc_desc" placeholder="Description of location of resource; ie: around the side of the building." required/>
          </div>
          <div class="item">
          <label for="web">Website</label><span class="required">*</span></p>
            <input type="text" name="web" placeholder="Provide website for resource" required/>
          </div>
          <div class="item">
            <label for="facebook">Facebook <i class="fab fa-facebook-f"></i></label>
            <input type="text" name="facebook"/>
          </div>
          <div class="item">
            <label for="insta">Instagram <i class="fab fa-instagram"></i></label>
            <input type="text" name="insta"/>
          </div>
          <div class="item">
            <label for="email">Email</label>
            <input type="email" name="email"/>
          </div>
          <div class="question">
            <label for="opn_hrs">Is this resource open 24/7?</label><span class="required">*</span></p>
            <div class="question-answer">
              <input type="radio" value=1 id="open24" name="opn_hrs" required/>
              <label for="open24" class="radio"><span>Yes</span></label>
              <input type="radio" value=0 id="notOpen24" name="opn_hrs" required/>
              <label for="notOpen24" class="radio"><span>No</span></label>
            </div>
          </div>
          <div class="item">
            <label for='days'>If No, please list the Hours of Operation below:</label>
            <div class="textInputSmall">
              <input type="text" name="days" placeholder="Days open">
              <input type="text" name="hrs" placeholder="Hours open">
            </div>
          </div>
          <div class="question">
            <label for='days'>Does this resource accept donations?</label><span class="required">*</span>
            <div class="question-answer">
              <input type="radio" value=1 id="yesDonations" name="donations" required/>
              <label for="yesDonations" class="radio"><span>Yes</span></label>
              <input type="radio" value=0 id="noDonations" name="donations" required/>
              <label for="noDonations" class="radio"><span>No</span></label>
            </div>
            <div class="item">
              <label for="accpts">What items does this resource accept?</label>
              <input type="text" name="accpts"/>
            </div>
            <div class="item">
              <label for="no_accpt">What items does this resource NOT accept?</label>
              <input type="text" name="no_accpt"/>
            </div>
          </div>
            <input class="formSubmitBtn" type="submit" value="Submit"/>
        </form>
      </div>
</main>
    <%- include('../partials/footer') -%>
