<%- include('../partials/header') -%> 
    
<%- include('../partials/nav') -%>
<main>
     <div class="container">
        <h1>The Fridge Project</h1>
        <div class="contentContainer">
            <div class="mainTextContainer">
                <div class="mainTextSection">
                    <p>Thank you for your submission!  We will look into it and verify the information and add it to our page ASAP!  You're the best!  </p>
                </div>
                <div class="indexLink">
                    <a href="/index" class="pageLink">Would you like to go back home?</a>
                </div>
                <p>Or</p>
                <div class="indexLink">
                    <a href="/submit" class="pageLink">Submit another resource?</a>
                </div>
                <div class="textSection">
                </div>
               
        </div>
    </div>
     </div>
</main>
    <%- include('../partials/footer') -%>