:root {
    --dark-teal: #127475;
    --light-teal: #0E9594;
    --orange: #f2542d;
    --light-grey: #ebebeb;
}

* {
    box-sizing: border-box;
}


body {
    background-color: var(--light-teal);
    color: black;
}

.headerContainer {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-teal);
    color: white;
}

.logo {
    align-items: center;
    min-width: 60%;
    max-width: 75%;
    padding-top: 2rem;
    padding-left: 3rem;
    
}

.navBar {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    height: auto;
    text-transform: uppercase;
    padding: 0 1rem;
}


.dropBtn {
    font-size: 1.5rem;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.dropdownLinksHidden {
    display: none;
}

.hamburger {
    display: block;
}

.navBar a:link {
    color: white;
    text-decoration:none;
}

.navBar a:visited {
    color: white;
    text-decoration: none;
}

.navBar a:hover {
    color: var(--orange);
    font-style: bold;
}

.navBar a:focus {
    color: var(--orange);
}


/* BODY STYLING */
h1 {
    color: var(--orange);
    font-size: 3rem;
    padding-top: 2rem;
    margin-left: 2rem;
    text-align: center;
}

h2 {
    color: var(--dark-teal)
}

.container {
    background-color:var(--light-grey);
    border-radius: 1rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 5rem;
    margin: 1rem;
}

.indexLink {
    color: #ebebeb;
    justify-content: center;
    height: auto;
    padding: 2%;
    background-color: #0E9594;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

.indexLink a:link  {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    text-transform: capitalize;
}

.indexLink a:visited {
    color: #fff;
    text-decoration: none;
}

.indexLink a:hover {
    color:aquamarine;
    font-style: bold;
}

.indexLink a:focus {
    color: var(--orange);
}

.indexPhoto {
    border-style: solid;
    border-width: 2px;
    border-color: var(--orange);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.adminContent {
    flex-direction: row;
    background-color: var(--light-grey);
    border-style: double;
    border-color: #f2542d;
    border-radius: 1rem;
    margin: 1rem;
}

.pageLink {
    text-decoration: none;
}

.mainTextSection {
    font-size: 1.3rem;
}

.textSection h2 {
    color:#093c3d;
}

.dropDownInfo {
    display: none;
    background-color: #0E9594;
}

.contentBox {
   
}

.resourceContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 5rem;
    margin: 1rem;
}

.resourceBox {
    background-color: var(--dark-teal);
    max-width: 20rem;
    text-align: center;
   
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: var(--orange);
}

/* TABLE STYLING */

.tableContainer {
    overflow-x: auto;
    overflow-y: scroll;
    white-space: nowrap;
}

table, th, td {
    border-style: solid;
    border-color: var(--orange);
    margin: auto;
    border-collapse: collapse;
    padding: 10px;
}

.tableForm {
    background-color: #ccc;
    box-shadow: none;
    padding: 0;
}

/* FORM STYLING */
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    padding: 20px;
}
form {
    min-width: 75%;
    max-width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: var(--light-grey);
    box-shadow: 0 0 20px 0 var(--dark-teal); 

}
input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}
.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
    color: var(--dark-teal);
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 var(--dark-teal);
    color: var(--dark-teal);
}
.item {
    position: relative;
    margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
.item i {
    right: 2%;
    top: 30px;
    z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
input[type=radio], input[type=checkbox]  {
    display: none;
}
label.radio, label.check {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}
.question span {
    margin-left: 30px;
}
span.required {
    margin-left: 0;
    color: red;
}
.checkbox-item label {
    margin: 5px 20px 10px 0;
}
label.radio:before, label.check:before {
    content: "";
    position: absolute;
    left: 0;
}
label.radio:before {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid var(--dark-teal);
}
label.check:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--dark-teal);
}
input[type=checkbox]:checked + .check:before {
    background: var(--dark-teal);
}
label.radio:after {
    left: 5px;
    border: 3px solid var(--dark-teal);
}
label.check:after {
    left: 4px;
    border: 3px solid #fff;
}
label.radio:after, label.check:after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 4px;
    background: transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
.formSubmitBtn {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: var(--dark-teal);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.formSubmitBtn:hover {
    background: var(--dark-teal);
}
/* @media (min-width: 568px) {
    .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }
} */



/* FOOTER STYLING */
.footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: var(--dark-teal);
    border-radius: 1rem;
    color: white;
    margin-top: 2rem;
    padding: 1rem;
    flex-direction: column;
}

.footerLinkBlock {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0 2rem;
}

.footerLinkBlock a:link {
    color: white;
    text-decoration:none;
}

.footerLinkBlock a:visited {
    color: white;
    text-decoration: none;
}

.footerLinkBlock a:hover {
    color: var(--orange);
    font-style: bold;
}

.footerLinkBlock a:focus {
    color: var(--orange);
}

.footerLogo {
    padding: 1.2rem 0rem;
}

@media screen and (min-width: 769px) {

    .hamburger {
        visibility: hidden;
    }

    .contentBox {
        flex-direction: row;
        flex-wrap: wrap;
        min-width: fit-content;
    }

    .mainTextSection {
        font-size: 1.6rem;
    }

    .indexLink {
        margin-bottom: 2rem;
        margin-right: 10rem;
        margin-left: 10rem;
    }

    .eachResource {
        flex-direction: row;
        flex-wrap: wrap;
    }
  
    .footerContainer {
        flex-direction: row;
    }

   
}

@media screen and (min-width: 1024px) {
    /* How do I get space on the top and bottom here? */
    .resourceDetailsContainer {
        display: flex;
        max-width: 75%; 
    }
}
