:root {
    --dark-teal: #127475;
    --light-teal: #0E9594;
    --orange: #f2542d;
    --light-grey: #ebebeb;
}


body {
    background-color: var(--light-teal);
    color: black;
}

.headerContainer {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-teal);
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    min-width: 60%;
    max-width: 75%;
    padding-top: 2%;
    
}

.navBar {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    height: auto;
    text-transform: uppercase;
    padding: 0 1rem;
}


.dropBtn {
    font-size: 1.5rem;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.dropdownLinksHidden {
    display: none;
}

.navBar a:link {
    color: white;
    text-decoration:none;
}

.navBar a:visited {
    color: white;
    text-decoration: none;
}

.navBar a:hover {
    color: var(--orange);
    font-style: bold;
}

.navBar a:focus {
    color: var(--orange);
}


/* BODY STYLING */
h1 {
    color: var(--orange);
    font-size: 3rem;
    padding-top: 2rem;
    margin-left: 2rem;
    text-align: center;
}

h2 {
    color: var(--dark-teal)
}

.container {
    background-color:var(--light-grey);
    border-radius: 1rem;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 5rem;
    margin: 1rem;
}

.flexContentRow {
    flex-direction: row;
}

.indexPhoto {
    border-style: solid;
    border-width: 2px;
    border-color: var(--orange);
    border-radius: 1rem;
    margin-bottom: 1rem;
}




/* FORM STYLING */
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: inherit;
    padding: 20px;
}
form {
    min-width: 75%;
    max-width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: var(--light-grey);
    box-shadow: 0 0 20px 0 var(--dark-teal); 

}
input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
}
input {
    width: calc(100% - 10px);
    padding: 5px;
}
select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}
textarea {
    width: calc(100% - 12px);
    padding: 5px;
}
.item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder, a {
    color: var(--dark-teal);
}
.item input:hover, .item select:hover, .item textarea:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 var(--dark-teal);
    color: var(--dark-teal);
}
.item {
    position: relative;
    margin: 10px 0;
}
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}
.item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #a9a9a9;
}
.item i {
    right: 2%;
    top: 30px;
    z-index: 1;
}
[type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
}
input[type=radio], input[type=checkbox]  {
    display: none;
}
label.radio, label.check {
    position: relative;
    display: inline-block;
    margin: 5px 20px 15px 0;
    cursor: pointer;
}
.question span {
    margin-left: 30px;
}
span.required {
    margin-left: 0;
    color: red;
}
.checkbox-item label {
    margin: 5px 20px 10px 0;
}
label.radio:before, label.check:before {
    content: "";
    position: absolute;
    left: 0;
}
label.radio:before {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid var(--dark-teal);
}
label.check:before {
    top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid var(--dark-teal);
}
input[type=checkbox]:checked + .check:before {
    background: var(--dark-teal);
}
label.radio:after {
    left: 5px;
    border: 3px solid var(--dark-teal);
}
label.check:after {
    left: 4px;
    border: 3px solid #fff;
}
label.radio:after, label.check:after {
    content: "";
    position: absolute;
    top: 6px;
    width: 8px;
    height: 4px;
    background: transparent;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type=radio]:checked + label:after, input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.btn-block {
    margin-top: 10px;
    text-align: center;
}
.formSubmitBtn {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: var(--dark-teal);
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.formSubmitBtn:hover {
    background: var(--dark-teal);
}
/* @media (min-width: 568px) {
    .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .city-item input {
    width: calc(50% - 20px);
    }
    .city-item select {
    width: calc(50% - 8px);
    }
} */



/* FOOTER STYLING */
.footerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--dark-teal);
    border-radius: 1rem;
    color: white;
    margin-top: 2rem;
    padding: 1rem;
}

.footerLinkBlock {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0 2rem;
}

.footerLinkBlock a:link {
    color: white;
    text-decoration:none;
}

.footerLinkBlock a:visited {
    color: white;
    text-decoration: none;
}

.footerLinkBlock a:hover {
    color: var(--orange);
    font-style: bold;
}

.footerLinkBlock a:focus {
    color: var(--orange);
}

