:root {
    --dark-teal: #127475;
    --light-teal: #0E9594;
    --orange: #f2542d;
    --light-grey: #ebebeb;
}


body {
    background-color: var(--light-teal);
    color: black;
}

.headerContainer {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-teal);
    color: white;
}

.logo {
    width: 40rem;
    padding-top: 2%;
}

.navBar {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    height: auto;
    text-transform: uppercase;
    padding: 0 1rem;
}


.dropBtn {
    font-size: 2rem;
    font-family: inherit;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
}

.dropdownLinksHidden {
    display: none;
}

.navBar a:link {
    color: white;
    text-decoration:none;
}

.navBar a:visited {
    color: white;
    text-decoration: none;
}

.navBar a:hover {
    color: var(--orange);
    font-style: bold;
}

.navBar a:focus {
    color: var(--orange);
}

h1 {
    color: var(--orange);
    padding-top: 2rem;
    margin-left: 2rem;
}

h2 {
    color: var(--dark-teal)
}

.indexContainer {
    background-color: var(--light-grey);
    border-radius: 1rem;
}

.indexContent {
    display: flex;
    margin: 2rem;
}

.indexPhoto {
    border-style: solid;
    border-width: 2px;
    border-color: var(--orange);
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.footerContainer {
    background-color: var(--dark-teal);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-teal);
    color: white;
    margin-top: 2rem;
    padding: 1rem;
}

.footerLinkBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0 10rem;
}

.footerLinkBlock a:link {
    color: white;
    text-decoration:none;
}

.footerLinkBlock a:visited {
    color: white;
    text-decoration: none;
}

.footerLinkBlock a:hover {
    color: var(--orange);
    font-style: bold;
}

.footerLinkBlock a:focus {
    color: var(--orange);
}

